
.land
{
	fill: #fff;
	stroke: #ccc;
}

.state
{
	fill: #ccc;
	stroke: #666;
}

#ireland{
	margin: 0 auto;
	text-align: center;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\0000";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

button {
    width: 30px;
}
button#slow {
    margin-left: 40px;
}

#sticky_footer {
		padding-left: 30px;
		color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
}

footer{
	clear: both;
}

.redtowhite{
	background: -webkit-linear-gradient(left, red, white); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, red, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, red, white); /* For Firefox 3.6 to 15 */
background: linear-gradient(right, red, white); /* Standard syntax */
	width: 100%;
	height: 20px;
}
